* {
	box-sizing: border-box;
	font-family: 'Pacifico', cursive;
}

.carousel {
	margin: auto;
	width: 60vw;
	height: auto;
	height: 90vh;
}

h1 {
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 10vh;
}

.header > img {
	width: 60px;
	height: auto;
}
